@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Institute of Technology<br />
    Tallaght, Dublin 24<br />
    Republic of Ireland
    <abbr title="Phone">P:</abbr>
    00353 1 4042000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:niall300@live.com">niall300@live.com</a><br />
   
</address>


@*the viewBag is dynamic and is passed from the controller  *@
@*this variable "theMessage" must correspond to the same variable in the controller  *@
<h3>@ViewBag.theMessage</h3>
<form method="post">
    @* name = yourmessage is the variable name for our input string *@
    @* this must correspond with the method parameters in the controller *@
    <textarea name="myMessage"></textarea>
    <input type="submit" value=" send">
</form>