@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.theMessage</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


@*the viewBag is dynamic and is passed from the controller  *@
@*this variable "theMessage" must correspond to the same variable in the controller  *@
<h3>@ViewBag.theMessage</h3>
<form method="post">
    @* name = yourmessage is the variable name for our input string *@
    @* this must correspond with the method parameters in the controller *@
    <textarea name="yourmessage"></textarea>
    <input type="submit" value=" send">
</form>