@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cheap As Chips</h1>
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Cheap As Chips</h2>
        <p>
            Here is a collection of cheap, nutritious and easy to prepare meals 
            for those of us on a budget. most recipes cost less than a fiver
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Search by ingredient</h2>
        <p>Do you have something in the cupboard you want to use, Over 20 recipes!!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Search Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add recipes</h2>
        <p>You can easily add your own favourite recipes</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Post Now &raquo;</a></p>
    </div>
</div>