
@{
    ViewBag.Title = "NoResults";
}

<h2>NoResults</h2>
<p>Sorry but there are no recipes with that Main Ingredient</p>
<p>Would you like to search Again</p>

<p><a class="btn btn-default" href="http://localhost:55295/Home/Search">Yes <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
<p><a class="btn btn-default" href="http://localhost:55295/Home/Index">No <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>

