@model CheapAsChips.Models.Recipe

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Recipe", FormMethod.Post))
{
    <div class="form-group">
        @*@Html.Display("Main Ingredient");*@
        @Html.LabelFor(model => model.MainIngredient, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MainIngredient);
            @Html.ValidationMessageFor(model => model.MainIngredient, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}



